{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">This is about us page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos fuga
    laborum, voluptas repellat vel exercitationem provident quis neque officiis
    eum ducimus quia enim! At incidunt dolore molestias, repellat laboriosam
    sint!
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat aperiam
    dolorem ipsa quos ducimus architecto, quaerat iste sunt nihil nemo
    doloremque omnis dicta quae, atque est, tenetur quis magni rerum.
    Voluptatibus eligendi eaque debitis recusandae.
  </p>
</div>

{% endblock %}
